body.dark {
    background-color: #333;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Cambia el valor de "0.6" para ajustar la opacidad */
    pointer-events: none; /* Permite hacer clic a través de la capa transparente */
    z-index: -1; /* Coloca la capa detrás del contenido */
    border-radius: 0.5rem; /* Ajusta el radio de borde según tu diseño */
}

.card-dark-background {
    background-color: rgba(0, 0, 0, 0.6); /* Cambia el valor de "0.6" para ajustar la opacidad */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem; /* Ajusta el radio de borde según tu diseño */
    z-index: -1; /* Coloca la capa detrás del contenido */
}

